body {
    background-attachment: fixed;
    background-color: blue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: medium;
    font-weight: 300;
}
 p {
    color: aliceblue;
    font-size: medium;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    text-shadow:none;
    padding-top: 50px;

 }